<div class="row">
  <div class="col-md-5 mt-5 mx-auto">
     <div class="card rounded-0">
         <div class="card-header">
             <h2 class="mb-0">Register </h2>
         </div>
         <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="userRegiser()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">first Name</label>
                    <input type="text" formControlName="firstName" name="firstName" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">last Name</label>
                    <input type="text" formControlName="lastName" name="lastName" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">last Name</label>
                    <input type="text" formControlName="email" name="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" formControlName="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
         </div>
     </div>
  </div>
</div>